<div class="container">
 
    <div class="p-grid">
        <div class="p-col-12 p-md-12 p-fluid" style="text-align: center;">
            <h1><b>HOUSEKEEPER </b></h1> <h1>Horários Agendados</h1>
         </div>
       <div class="p-col-12">
          <p-table [value]="agendas" [responsive]="true" [paginator]="true" [rows]="filtro.itensPorPagina" [lazy]="true"
             [totalRecords]="totalRegistros" (onLazyLoad)="aoMudarPagina($event)" #tabela>
             <ng-template pTemplate="header">
                <tr>
                   <th>Dia</th>
                   <th>Valor</th>
                   <th>Prestador de Serviço</th>
                   <th>Tipo de Serviço</th>
                   <th class="col-acoes-header"></th>
                </tr>
             </ng-template>
 
             <ng-template pTemplate="body" let-agenda>
                <tr>
                   <td>
                      <span class="p-column-title">Dia</span>
                      {{ agenda.dataInicioServicoFormatada }} à {{ agenda.dataFimServicoFormatada }}
                   </td>
                   <td>
                      <span class="p-column-title">Valor</span>
                      {{ agenda.valorServico }}
                   </td>
                   <td>
                      <span class="p-column-title">Prestador de Serviço</span>
                      {{ agenda.prestadorServico.nome }}
                   </td>
                   <td>
                      <span class="p-column-title">Tipo de Serviço</span>
                      {{ agenda.tipoServico.nome }}
                   </td>
                   <td class="col-acoes">
                      <span class="p-column-title"></span>
                      <button pButton icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="top"
                         (click)="confirmarExclusao(agenda)"></button>
                   </td>
                </tr>
             </ng-template>
 
             <ng-template pTemplate="emptymessage">
                <tr>
                   <td colspan="5">
                      Nenhum serviço encontrado
                   </td>
                </tr>
             </ng-template>
          </p-table>
       </div>
    </div>
 </div>